---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Nav from "../components/Nav.astro";
import WizardForm from "../components/WizardForm.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Chihuahua Haven | Meet your new best friend!">
	<main>
		<Nav />
		<section id="hero">
			<Hero />
		</section>
		<section id="form" class="bg-gray-200 py-6">
			<div class="container mx-auto">
				<WizardForm />
			</div>
		</section>
	</main>
	<Footer />
</Layout>
