---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Nav from "../components/Nav.astro";
import WizardForm from "../components/WizardForm.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<Nav />
		<section id="hero">
			<Hero />
		</section>
		<section id="form">
			<div class="container mx-auto">
				<div class="text-center">
					<h2 class="text-5xl font-bold py-6">Let's Get Started!</h2>
					<p class="text-xl">Please fill out the following fields.</p>
				</div>
				<WizardForm />
			</div>
		</section>
	</main>
	<Footer />
</Layout>
