<div class="container mx-auto py-24">
  <div class="lg:columns-2 gap-6">
    <div class="flex flex-col">
      <h1 class="text-6xl font-bold py-6">Lifeblue Technical Assessment</h1>
      <p class="text-xl">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi
        architecto ad, corporis doloremque hic et consectetur dolor nobis.
      </p>
      <div class="flex gap-4 text-xl py-6">
        <a
          class="bg-indigo-700 border-indigo-700 border-2 text-white font-bold px-8 py-4"
          href="#form">Fill Out the Quiz</a
        >
        <a
          class="bg-white border-indigo-700 border-2 text-indigo-700 font-bold px-8 py-4"
          href="">About Us</a
        >
      </div>
    </div>
    <div class="flex justify-center">
      <img src="http://via.placeholder.com/400" alt="" />
    </div>
  </div>
</div>
