---
import logo from "../assets/logo.png";
---

<header>
  <nav class="container mx-auto py-4">
    <div class="flex justify-center">
      <a href="/">
        <img src={logo} alt="Chihuahua Haven logo with dog icon" class="w-60" />
      </a>
    </div>
  </nav>
</header>
